.section-filter {
  width: 100%;

  padding-top: 5.313rem; //85px
  padding-bottom: 5.313rem; //85px

  background-color: var(--purple-800);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-filter {
  max-width: 64.563rem; //1033px
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem; //40px

  .title-filter {
    max-width: 48.813rem; //781px
    width: 100%;

    color: #FFF;
    text-align: center;
    font-size: 3rem; //48px
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem; //56px
    letter-spacing: -0.015rem; //-0.24px
  }

  .container-items-filter {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; //16px

    .items-title-filter {
      color: #FFF;

      font-size: 0.875rem; //14px
      font-style: normal;
      font-weight: 700;
      line-height: 1.25rem; //20px
      text-transform: uppercase;
    }

    .items-filter {
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.75rem; // 12px
    }
  }
}

.main {
  width: 100%;
  padding-top: 2rem; //32px

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container-main {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 2rem; //32px

    .card {
      max-width: 11rem; //176px
      width: 100%;
      background-size: cover;
      cursor: pointer;

      img {
        width: 100%;
        border-radius: 0.25rem; //4px
        border: 1px solid #E7E7E7;
      }

      .card-title {
        color: black;
        font-size: 0.875rem; //14px
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem; //24px
      }

      .card-date {
        color: var(--gray-600);
        font-size: 0.875rem; //14px
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem; //24px
      }
    }
  }

  .pagination {
    max-width: 79.063rem; //1265px
    width: 100%;

    padding-top: 16px;
    padding-bottom: 16px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;

    fa-icon {
      cursor: pointer;
    }
  }
}

