<header class="header">
  <img [src]="imageLogo" alt="Logo">
</header>

<section class="section-details" *ngIf="listFilms">
  <img [src]="'https://image.tmdb.org/t/p/w500/' + listFilms.poster_path" alt="Poster Image">
  <div class="details">
    <div>
      <h2 class="title">{{listFilms.title}}</h2>
      <div class="container-infos">
        <span class="infos">16 anos</span>
        <span class="infos">•</span>
        <span class="infos">{{listFilms.release_date | date: 'dd/MM/yyyy' }} (BR)</span>
        <span class="infos">•</span>
        <ng-container  *ngFor="let genre of listFilms.genres; let last = last">
          <span class="infos">{{ genre.name }}{{ !last ? ', ' : '' }}</span>
        </ng-container>
        <span class="infos">•</span>
        <span class="infos">{{convertMinutesInHours(listFilms.runtime)}}</span>
      </div>
    </div>
    <div class="assessment" >
      <div class="percent">{{calculatePercentage(listFilms.vote_average)}}%</div>
      <span>Avaliação dos usuários</span>
    </div>
    <div class="sinopse">
      <h5 class="title">Sinopse</h5>
      <p class="descrition-sinopse">{{listFilms.overview}}</p>
    </div>
    <div class="direction">
      <div>
        <h6 class="name">Rob Liefeld</h6>
        <span class="office">Characters</span>
      </div>
      <div>
        <h6 class="name">Rob Liefeld</h6>
        <span class="office">Characters</span>
      </div>
      <div>
        <h6 class="name">Rob Liefeld</h6>
        <span class="office">Characters</span>
      </div>
      <div>
        <h6 class="name">Rob Liefeld</h6>
        <span class="office">Characters</span>
      </div>
      <div>
        <h6 class="name">Rob Liefeld</h6>
        <span class="office">Characters</span>
      </div>
    </div>
  </div>
</section>

<section class="cast">
  <div>
    <h3>Elenco original</h3>
    <swiper-container slides-per-view="6" speed="500" scrollbar="true">
      <swiper-slide>
        <img [src]="Swiper" alt="Swiper">
        <div>
          <h3>Ryan Reynolds</h3>
          <span>Wade Wilson / Deadpool</span>
        </div>
      </swiper-slide>
      <swiper-slide>
        <img [src]="Swiper" alt="Swiper">
        <div>
          <h3>Ryan Reynolds</h3>
          <span>Wade Wilson / Deadpool</span>
        </div>
      </swiper-slide>
      <swiper-slide>
        <img [src]="Swiper" alt="Swiper">
        <div>
          <h3>Ryan Reynolds</h3>
          <span>Wade Wilson / Deadpool</span>
        </div>
      </swiper-slide>
      <swiper-slide>
        <img [src]="Swiper" alt="Swiper">
        <div>
          <h3>Ryan Reynolds</h3>
          <span>Wade Wilson / Deadpool</span>
        </div>
      </swiper-slide>
      <swiper-slide>
        <img [src]="Swiper" alt="Swiper">
        <div>
          <h3>Ryan Reynolds</h3>
          <span>Wade Wilson / Deadpool</span>
        </div>
      </swiper-slide>
      <swiper-slide>
        <img [src]="Swiper" alt="Swiper">
        <div>
          <h3>Ryan Reynolds</h3>
          <span>Wade Wilson / Deadpool</span>
        </div>
      </swiper-slide>
      <swiper-slide>
        <img [src]="Swiper" alt="Swiper">
        <div>
          <h3>Ryan Reynolds</h3>
          <span>Wade Wilson / Deadpool</span>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>

<section class="trailer">
  <div>
    <h3>Trailer</h3>
    <iframe width="907" height="510" [src]="getSafeTrailerUrl(trailer.key)"></iframe>
  </div>
</section>

<section class="recommendations">
  <div>
    <h3>Recomendações</h3>
    <swiper-container slides-per-view="6" speed="500">
      <ng-container class="container" *ngFor="let items of listRecommendations">
        <swiper-slide>
          <img [src]="'https://image.tmdb.org/t/p/w500/' + items.poster_path" alt="Poster Path">
          <div>
            <h3>{{items.title}}</h3>
            <span>{{items.release_date}}</span>
          </div>
        </swiper-slide>
      </ng-container>
    </swiper-container>
  </div>
</section>


