<header class="header">
  <img [src]="imageLogo" alt="Logo">
</header>
<section class="section-details">
  <img [src]="imageCapa" alt="Logo">
  <div class="details">
    <div>
      <h2 class="title">Deadpool (2016)</h2>
      <span class="infos">16 anos  • 11/02/2016 (BR)  •  Ação, Aventura, Comédia, Ficção científica • 1h 47m</span>
    </div>
    <div class="assessment">
      <img [src]="Avaliacao" alt="Logo">
      <span>Avaliação dos usuários</span>
    </div>
    <div class="sinopse">
      <h5 class="title">Sinopse</h5>
      <p class="descrition-sinopse">Baseado no anti-herói não convencional da Marvel Comics, Deadpool conta a história da origem do ex-agente das Forças Especiais que
        se tornou o mercenário Wade Wilson. Depois de ser submetido a um desonesto experimento que o deixa com poderes de cura acelerada,
        Wade adota o alter ego de Deadpool. Armado com suas novas habilidades e um senso de humor negro e distorcido, Deadpool persegue
        o homem que quase destruiu sua vida.</p>
    </div>
    <div class="direction">
      <div>
        <h6 class="name">Rob Liefeld</h6>
        <span class="office">Characters</span>
      </div>
      <div>
        <h6 class="name">Rob Liefeld</h6>
        <span class="office">Characters</span>
      </div>
      <div>
        <h6 class="name">Rob Liefeld</h6>
        <span class="office">Characters</span>
      </div>
      <div>
        <h6 class="name">Rob Liefeld</h6>
        <span class="office">Characters</span>
      </div>
      <div>
        <h6 class="name">Rob Liefeld</h6>
        <span class="office">Characters</span>
      </div>
    </div>
  </div>
</section>

<section class="cast">
  <div>
    <h3>Elenco original</h3>
  </div>
</section>
